<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Регистрация PetsFriends</title>
    <link rel="stylesheet" href="css/style.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Регистрация</h2>
    <form action="/register" method="post">
      <div class="input-box">
        <input name="login" type="text" placeholder="Введи логин" required>
      </div>
      <div class="input-box">
        <input name="password" type="password" placeholder="Придумай пароль" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Подтверди пароль" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Зарегистрироваться">
      </div>
      <div class="text">
        <h3>Уже есть аккаунт? <a href="/login">Заходи, не стесняйся</a></h3>
      </div>
    </form>
  </div>
</body>
</html>