.content {
  padding: 0 136px 77px;
}
.petsbox {
  margin: 49px 0 88px;
  gap: 24px 40px;
}
.candidate {
  position: relative;
  padding-top: 90.5px;
  margin-top: 90.5px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor:pointer;
}
.candidate > img,
.likes img {
  position: absolute;
  left: 0;
  top: -90.5px;
  width: 181px;
  height: 181px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.candidate > img:hover {
  filter: brightness(73%)
}

.likes img {
  position: static;
  cursor: pointer;
}

.likes img:hover {
  filter: brightness(73%)
}
h3 {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}
.candidate button {
  flex-grow: 1;
  border: none;
  border-top: #b0b0b0 solid 1px;
  background: none;
  padding: 15px 33px;
}

.candidate > div {
  overflow: hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.candidate button:hover {
  background-color: #534adf;
}

.candidate button:first-child {
  border-right: solid 1px #b0b0b0;
}
.candidate button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.modalMatch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6.5px);
  z-index: 10000;
}
.modalMatch .out {
  position: absolute;
  top: 12.5%;
  right: 8.5%;
  width: 30px;
  cursor: pointer;
}
.modalMatch h1 {
  color: #ffffff;
  font-size: 100.276px;
  font-weight: bold;
}
.modalMatch .match {
  position: relative;
  display: flex;
  margin: 44px 0 50px;
}
.modalMatch .match > img {
  width: 271.08px;
  height: 271.08px;
  object-fit: cover;
  box-shadow: -2.03823px 8.15292px 16.3058px 6.11469px rgba(0, 0, 0, 0.25);
  border-radius: 1834.41px;
}
.modalMatch .match > img:first-child {
  margin-right: -5px;
}
.modalMatch .match > img:last-child {
  margin-left: -5px;
}
.modalMatch .match .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalMatch .match .heart img {
  width: 150.96px;
}
.modalMatch .message {
  display: flex;
  background: #534adf;
  border-radius: 75.6793px;
  padding: 18.7px 29px 21.8px;
  cursor: pointer;
}
.modalMatch .message img {
  width: 50.48px;
  margin-right: 20px;
}
.modalMatch .message span {
  color: #ffffff;
  font-size: 37.391px;
}
