
  body {
    min-height: 100vh;
    /* background-image: url('../public/LoginRegistrationBackground.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Gilroy', sans-serif;
  }
   /* anketa css */
  .main-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: calc(100vh - 120px);
  }

  .hidden {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    overflow: hidden;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-container img {
    width: 559px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container h1 {
    margin-bottom: 20px;
    color: #000;
  }
  /* блок занимает пространство изображения для бордер радиуса */
  .form-container img {
    object-fit: contain;
    height: 300px;
    border-radius: 25px;
    margin-bottom: 10px;
  }

  .registration-form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 350px;
  }

  .load-button{
    align-self: center;
    border-radius: 25px;
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-bottom: 14px;
  }

  .registration-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .registration-form input,
  .registration-form select {
    /* width: 300px; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 14px;
  }

  .sub-label {
    font-size: 12px;
    margin-left: 5px;
  }

  .form-group {
    display: block;
    align-items: center;
    /* margin-bottom: 10px; */
  }

  .form-group label {
    margin-right: 5px;
  }

  .radio-group {
    margin-left: 10px;
    margin-top: 5px;
  }
  .radio-group label:nth-child(2) {
    margin-right: 30px;
  }

  .radio-group input[type="radio"] {
    margin-right: 10px;
  }

  .rounded-button {
    border-radius: 25px;
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background: #524bc9;
  }